nav .nav-item .nav-link.active{
  background-color:cornflowerblue !important;
  color: #fff !important
}

@media (max-width: 991px) {
  nav .nav-item, .logout{
    width: 100% !important;
    display: block;
    text-align: center;
  }
  nav .personal-name{
    margin-top: 10px !important; 
  }
}
.card img{
  height: 250px;
}

form textarea{
  height: 120px;
  resize: none;
}